:root {
  --gray-primary: #27272a;
  --gray-secondary: #a1a1aa;
  --gray-tertiary: #e1e1e6;
  --green-primary: #def86f;
  --black-primary: #171717;
  --black-background: #18181b;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  color: var(--green-primary);
}

h2 {
  color: var(--gray-tertiary);
}

a {
  color: var(--gray-secondary);
  text-decoration: none;
  width: 100%;
}

button {
  border: none;
}

input[type='text'] {
  background-color: var(--gray-primary);
  border: 1px solid rgba(222, 248, 111, 0.8);
  border-radius: 0.5rem;
  height: 3rem;
  padding-left: 1rem;
  color: white;
}
