h3 {
  color: white;
  font-weight: 700;
  line-height: 24px;
}

h4 {
  color: var(--gray-tertiary);
}

i {
  color: white;
}

.app_main {
  min-height: 100vh;
  background-color: var(--black-background);
}

.main-header {
  padding: 2rem 2.5rem;
  width: 100%;
  background: var(--gray-primary);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.main-header_top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.main-header-top-info_icons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.main-header-top-info_icons i {
  font-size: 1.3rem;
  cursor: pointer;
}

.main-header-top-info_icons i:hover {
  color: var(--green-primary);
  transition: all ease-in-out 200ms;
}

.main-header_balance {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.main-header_balance h1 {
  font-weight: 700;
  line-height: 2.75rem;
}

.main-header_balance div {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.main-header_balance i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: -0.25rem;
}

.main-header_balance a {
  font-weight: 700;
  line-height: 1.5rem;
  text-decoration-line: underline;
  color: white;
}
